@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  overflow: hidden;
  font-style: normal;
  font-optical-sizing: auto;
  font-family: "Open Sans", sans-serif;
}

/* Var */

:root {
  --color-primary-100: #ffc107;
  --color-primary-200: #ffc83b;
  --color-primary-300: #ffce58;
  --color-primary-400: #ffd572;
  --color-primary-500: #ffdc8a;
  --color-primary-600: #ffe3a2;
  --color-surface-100: #121212;
  --color-surface-200: #282828;
  --color-surface-300: #3f3f3f;
  --color-surface-400: #575757;
  --color-surface-500: #717171;
  --color-surface-600: #8b8b8b;
  --text-primary-100: #d0d0d0;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--color-surface-300);
}

::-webkit-scrollbar-thumb {
  background: var(--color-surface-400);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-surface-600);
}

/* Body */

body {
  background: var(--color-surface-100);
  color: var(--text-primary-100);
}

/* Shared */

input,
select {
  border: 1px solid var(--color-surface-500);
  border-radius: 0.5rem;
  background: var(--color-surface-500);
}

input[type="text"],
input[type="number"] {
  padding: 0.55rem;
}

input[type="date"] {
  padding: 0.5rem;
}

select {
  padding: 0.5rem;
}

input::placeholder,
select::placeholder {
  color: inherit;
}

/* Header */

.container-header {
  margin: 0 1rem;
}

.container-header .header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  padding: 0 1rem;
}

.container-header .header-box h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.container-header .header-box .left,
.container-header .header-box .right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container-header .header-box button {
  padding: 0.5rem 0.75rem;
  width: fit-content;
  border: none;
  border-radius: 0.5rem;
  background: var(--color-primary-500);
  cursor: pointer;
}

.container-header .header-box button:hover {
  background: var(--color-primary-400);
}

.container-header .header-box .dropdown-list {
  position: absolute;
  flex-direction: column;
  z-index: 100;
  background: var(--color-surface-300);
  border-radius: 0.25rem;
  padding: 0.5rem;
  display: none;
  height: fit-content;
  width: fit-content;
  min-width: 6rem;
}

.container-header .header-box .dropdown-list.active {
  display: flex;
}

.container-header .header-box .dropdown-list span {
  padding: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  color: var(--text-primary-100);
}

.container-header .header-box .dropdown-list span:hover {
  background: var(--color-surface-500);
}

.container-header .header-box .dropdown-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: transparent;
}

.container-header .header-box .dropdown-overlay.active {
  display: block;
}

/* Container Body */

.container-body {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0 1rem 1rem 1rem;
  height: calc(100vh - 5rem);
}

/* Filter & Table */

.container-filter-table {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: calc(70% - 0.5rem);
}

.container-filter-table .filter-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  background: var(--color-surface-200);
}

.container-filter-table .filter-box span {
  display: flex;
  flex-direction: column;
  width: 24%;
}

.container-filter-table .filter-box label {
  font-size: 0.75rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.container-table {
  padding: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100% - 10rem);
  background-color: var(--color-surface-200);
  border-radius: 0.5rem;
}

.container-table table {
  width: 100%;
  border-spacing: 0;
}

.container-table table th,
.container-table table td {
  text-align: left;
  padding: 0.5rem;
  border-bottom: 1px solid var(--color-primary-500);
}

.container-table table td button {
  background: transparent;
  border: none;
  padding: 0.25rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

/* Chart & Total */

.container-chart-total {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: calc(30% - 0.5rem);
}

.container-chart-total .chart-box {
  height: fit-content;
  padding: 1rem;
  border-radius: 0.5rem;
  background: var(--color-surface-200);
}

.container-chart-total .total-box {
  height: max-content;
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--color-surface-100);
  background: var(--color-primary-400);
}

/* Sidebar */

.container-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: 30vw;
  height: calc(100vh - 5rem);
  margin-top: 5rem;
  background: var(--color-surface-200);
  border-top-left-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  transform: translateX(100%);
}

.container-sidebar.open {
  transform: translateX(0);
}

.container-sidebar-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #12121258;
}

.container-sidebar-overlay.active {
  display: block;
}

.container-sidebar form {
  display: none;
  flex-direction: column;
  padding: 2rem;
}

.container-sidebar form.visible {
  display: flex;
}

.container-sidebar form h4 {
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.container-sidebar form label {
  margin-bottom: 0.5rem;
}

.container-sidebar form select {
  margin-bottom: 1rem;
}

.container-sidebar form input {
  margin-bottom: 1rem;
}

.container-sidebar form h5 {
  font-size: 18px;
  margin-bottom: 0.5rem;
}

.container-sidebar form p {
  margin-bottom: 1rem;
}

.container-sidebar form button {
  padding: 0.5rem 0.75rem;
  width: fit-content;
  border: none;
  border-radius: 0.5rem;
  background: #ffdc8a;
  cursor: pointer;
}

.container-sidebar form button:hover {
  background: #ffd572;
}
